<div id="map_canvas" ng-controller="MainCtrl">
    <script type="text/ng-template" id="searchbox.tpl.html">
      <input type="text" placeholder="検索する">
    </script>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
   	<div id="searchBoxParent"></div>
		<div>
		  	<ui-gmap-google-map
		  		center="map.center"
		  		zoom="map.zoom"
		  		draggable="true"
		  		options="options"
		  		>
		  		<ui-gmap-marker
		  			coords="marker.coords"
		  			options="marker.options"
		  			events="marker.events"
		  			idkey="marker.id"
		  			>
	        	</ui-gmap-marker>
		        <ui-gmap-search-box
		        	options="searchbox.options"
		        	template="searchbox.template"
		        	events="searchbox.events"
		        	position="searchbox.position"
		        	>
		        </ui-gmap-search-box>
		  	</ui-gmap-google-map> 
		</div>
</div>